$background-color: #272727;
$primary-accent-color: #f34567;
$secondary-accent-color: #234567;
$primary-text-color: #f0c492;
$secondary-text-color: #d67e5c;

$font-weights: (
    'light': 100,
    'regular': 200,
    'medium': 500,
    'bold': 800,
);

$a: #49e9a6;
$b: #16b673;
$c: #5b858b;
$d: #507b95;
$e: #716c93;
$f: #7f659a;
$g: #16a3b6;
$h: #49d6e9;
$i: #49ace9;
$j: #7060eb;
$k: #df769b;
$l: #e66533;
$m: #d67e5c;
$n: #d5971a;
$o: #e4b781;
$p: #0094f0;

$sm: 460px;
$md: 800px;
$lg: 960px;

$navSize: 80px;
