// functions should calculate and return something
// mixin just does styling
@import './scss/config';
@import './scss/home';
@import './scss/menu';
@import './scss/about';
@import './scss/responsive';
@import './scss/footer';

body {
    background: $primary;
    color: $warning;
    height: 100vh;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
}

a {
    color: $warning;
    text-decoration: none;
}
